.Skills {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    text-align: center;
    overflow: auto;
    height: calc(100vh - 63px - 300px);
}

.Skills > img {
    margin: auto;
    width: 250px;
    height: auto;
}

